# PANDAS QUIZ

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('elections.csv')

In [3]:
df.head()

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789

### Using loc

##### 1.  Extract all rows for the candidate 'Andrew Jackson' and display the columns 'Year', 'Popular vote', and 'Result'

In [4]:
df.loc[df['Candidate']=='Andrew Jackson',['Year','Popular vote','Result']]

   Year  Popular vote Result
0  1824        151271   loss
2  1828        642806    win
4  1832        702735    win

##### 2. Use `loc` to extract all rows where the candidate's `Party` is 'Democratic' and display the 'Year', 'Candidate', and 'Result'.

In [5]:
df.loc[df['Party'] == 'Democratic',['Year','Candidate','Result']]

     Year               Candidate Result
2    1828          Andrew Jackson    win
4    1832          Andrew Jackson    win
8    1836        Martin Van Buren    win
10   1840        Martin Van Buren   loss
13   1844              James Polk    win
14   1848              Lewis Cass   loss
17   1852         Franklin Pierce    win
20   1856          James Buchanan    win
28   1864     George B. McClellan   loss
29   1868         Horatio Seymour   loss
34   1876        Samuel J. Tilden   loss
37   1880  Winfield Scott Hancock   loss
39   1884        Grover Cleveland    win
45   1888        Grover Cleveland   loss
47   1892        Grover Cleveland    win
52   1896  William Jennings Bryan   loss
55   1900  William Jennings Bryan   loss
57   1904         Alton B. Parker   loss
64   1908  William Jennings Bryan   loss
70   1912          Woodrow Wilson    win
74   1916          Woodrow Wilson    win
77   1920            James M. Cox   loss
81   1924           John W. Davis   loss
83   1928                Al Smith   loss
86   1932      Franklin Roosevelt    win
91   1936      Franklin Roosevelt    win
94   1940      Franklin Roosevelt    win
97   1944      Franklin Roosevelt    win
100  1948            Harry Truman    win
105  1952         Adlai Stevenson   loss
108  1956         Adlai Stevenson   loss
111  1960            John Kennedy    win
114  1964          Lyndon Johnson    win
116  1968         Hubert Humphrey   loss
118  1972         George McGovern   loss
123  1976            Jimmy Carter    win
129  1980            Jimmy Carter   loss
134  1984          Walter Mondale   loss
137  1988         Michael Dukakis   loss
140  1992            Bill Clinton    win
144  1996            Bill Clinton    win
151  2000                 Al Gore   loss
158  2004              John Kerry   loss
162  2008            Barack Obama    win
168  2012            Barack Obama    win
176  2016         Hillary Clinton   loss
178  2020            Joseph Biden    win

##### 3. Extract rows where the `Popular vote` is greater than 600000 and display the 'Candidate' and 'Party' columns.

In [6]:
df.loc[df['Popular vote'] > 600000,['Candidate','Party']]

                  Candidate        Party
2            Andrew Jackson   Democratic
4            Andrew Jackson   Democratic
8          Martin Van Buren   Democratic
10         Martin Van Buren   Democratic
11   William Henry Harrison         Whig
..                      ...          ...
176         Hillary Clinton   Democratic
177              Jill Stein        Green
178            Joseph Biden   Democratic
179            Donald Trump   Republican
180            Jo Jorgensen  Libertarian

[121 rows x 2 columns]

##### 4. Use `loc` to find all candidates who won the election and display their 'Year' and 'Candidate'.

In [7]:
df.loc[df['Result']=='win', ['Year','Candidate']]

     Year               Candidate
1    1824       John Quincy Adams
2    1828          Andrew Jackson
4    1832          Andrew Jackson
8    1836        Martin Van Buren
11   1840  William Henry Harrison
13   1844              James Polk
16   1848          Zachary Taylor
17   1852         Franklin Pierce
20   1856          James Buchanan
23   1860         Abraham Lincoln
27   1864         Abraham Lincoln
30   1868           Ulysses Grant
32   1872           Ulysses Grant
33   1876        Rutherford Hayes
36   1880          James Garfield
39   1884        Grover Cleveland
43   1888       Benjamin Harrison
47   1892        Grover Cleveland
53   1896        William McKinley
56   1900        William McKinley
60   1904      Theodore Roosevelt
65   1908            William Taft
70   1912          Woodrow Wilson
74   1916          Woodrow Wilson
79   1920          Warren Harding
80   1924         Calvin Coolidge
84   1928          Herbert Hoover
86   1932      Franklin Roosevelt
91   1936      Franklin Roosevelt
94   1940      Franklin Roosevelt
97   1944      Franklin Roosevelt
100  1948            Harry Truman
106  1952       Dwight Eisenhower
109  1956       Dwight Eisenhower
111  1960            John Kennedy
114  1964          Lyndon Johnson
117  1968           Richard Nixon
120  1972           Richard Nixon
123  1976            Jimmy Carter
131  1980           Ronald Reagan
133  1984           Ronald Reagan
135  1988       George H. W. Bush
140  1992            Bill Clinton
144  1996            Bill Clinton
152  2000          George W. Bush
157  2004          George W. Bush
162  2008            Barack Obama
168  2012            Barack Obama
173  2016            Donald Trump
178  2020            Joseph Biden

##### 5. Extract the 'Year', 'Candidate', and 'Percentage' for candidates from the 'National Republican' party using `loc`.

In [8]:
df.loc[df['Party'] == 'National Republican', ['Year','Candidate','%']]

   Year          Candidate          %
3  1828  John Quincy Adams  43.796073
5  1832         Henry Clay  37.603628

### Using iloc

##### 6. Retrieve the first 5 rows and display only the first 3 columns using `iloc`.

In [9]:
df.iloc[:5,:3]

   Year          Candidate                  Party
0  1824     Andrew Jackson  Democratic-Republican
1  1824  John Quincy Adams  Democratic-Republican
2  1828     Andrew Jackson             Democratic
3  1828  John Quincy Adams    National Republican
4  1832     Andrew Jackson             Democratic

##### 7. Use `iloc` to extract the 3rd to 7th rows and display all columns

In [10]:
df.iloc[3:7,:]

,Year,Candidate,Party,Popular vote,Result,%
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
5,1832,Henry Clay,National Republican,484205,loss,37.603628
6,1832,William Wirt,Anti-Masonic,100715,loss,7.821583

##### 8. Use `iloc` to retrieve the last 5 rows and display only the 'Year' and 'Candidate' columns.

In [11]:
df.iloc[-5:,[0,1]]

     Year       Candidate
177  2016      Jill Stein
178  2020    Joseph Biden
179  2020    Donald Trump
180  2020    Jo Jorgensen
181  2020  Howard Hawkins

##### 9. Extract rows from index 2 to 6 and display the 'Popular vote' and 'Percentage' columns using `iloc`.

In [12]:
df.iloc[2:6,[3,5]]

   Popular vote          %
2        642806  56.203927
3        500897  43.796073
4        702735  54.574789
5        484205  37.603628

##### 10. Use `iloc` to display the first 10 rows but only show the 'Party' and 'Result' columns.

In [13]:
df.iloc[:10,[2,4]]

                   Party Result
0  Democratic-Republican   loss
1  Democratic-Republican    win
2             Democratic    win
3    National Republican   loss
4             Democratic    win
5    National Republican   loss
6           Anti-Masonic   loss
7                   Whig   loss
8             Democratic    win
9                   Whig   loss

### Using []

##### 11. Display only the `Party` and `Result` columns for candidates whose `Popular vote` is greater than 500,000.

In [14]:
df[df['Popular vote'] > 500000][['Party','Result']]

                   Party Result
2             Democratic    win
3    National Republican   loss
4             Democratic    win
8             Democratic    win
9                   Whig   loss
..                   ...    ...
176           Democratic   loss
177                Green   loss
178           Democratic    win
179           Republican   loss
180          Libertarian   loss

[126 rows x 2 columns]

##### 12. Extract all rows where the `Year` is greater than 1900 and display the 'Candidate' and 'Popular vote' columns.

In [15]:
df[df['Year']>1900][['Candidate','Popular vote']]

              Candidate  Popular vote
57      Alton B. Parker       5083880
58       Eugene V. Debs        402810
59     Silas C. Swallow        259102
60   Theodore Roosevelt       7630557
61     Thomas E. Watson        114070
..                  ...           ...
177          Jill Stein       1457226
178        Joseph Biden      81268924
179        Donald Trump      74216154
180        Jo Jorgensen       1865724
181      Howard Hawkins        405035

[125 rows x 2 columns]

##### 13. Extract the 'Year' and 'Percentage' for candidates whose percentage is greater than 50.

In [16]:
df[df['%']>50][['Year','%']]

     Year          %
0    1824  57.210122
2    1828  56.203927
4    1832  54.574789
8    1836  52.272472
11   1840  53.051213
13   1844  50.749477
17   1852  51.013168
27   1864  54.951512
30   1868  52.665305
32   1872  55.928594
34   1876  51.528376
53   1896  51.213817
56   1900  52.342640
60   1904  56.562787
65   1908  52.013300
79   1920  60.574501
80   1924  54.329113
84   1928  58.368524
86   1932  57.672125
91   1936  60.978107
94   1940  54.871202
97   1944  53.773801
106  1952  55.325173
109  1956  57.650654
111  1960  50.082561
114  1964  61.344703
120  1972  60.907806
123  1976  50.271900
131  1980  50.897944
133  1984  59.023326
135  1988  53.518845
157  2004  50.771824
162  2008  53.023510
168  2012  51.258484
178  2020  51.311515

##### 14. Display only the rows where the 'Result' is 'loss' and show the 'Candidate' and 'Popular vote' columns.

In [17]:
df[df['Result']=='loss'][['Candidate','Popular vote']]

             Candidate  Popular vote
0       Andrew Jackson        151271
3    John Quincy Adams        500897
5           Henry Clay        484205
6         William Wirt        100715
7    Hugh Lawson White        146109
..                 ...           ...
176    Hillary Clinton      65853514
177         Jill Stein       1457226
179       Donald Trump      74216154
180       Jo Jorgensen       1865724
181     Howard Hawkins        405035

[132 rows x 2 columns]

##### 15. Extract rows where the 'Party' is 'Democratic-Republican' and display all columns.

In [18]:
df[df['Party']=='Democratic-Republican'][:]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878

### Combined usage of loc, iloc, and []

##### 16. Using `loc`, filter rows where the candidate's `Party` is 'Democratic' and display the first 5 rows of 'Year', 'Candidate', and 'Percentage'.

In [19]:
df.loc[df['Party']== 'Democratic',['Year','Candidate','%']].head(5)

    Year         Candidate          %
2   1828    Andrew Jackson  56.203927
4   1832    Andrew Jackson  54.574789
8   1836  Martin Van Buren  52.272472
10  1840  Martin Van Buren  46.948787
13  1844        James Polk  50.749477

##### 17. Using `iloc`, extract the first 5 rows and display 'Candidate' and 'Party' where the candidate's percentage is above 55.

In [20]:
filter_data = df[df['%']>55]

In [21]:
filter_data.iloc[:5,[1,2]]

             Candidate                  Party
0       Andrew Jackson  Democratic-Republican
2       Andrew Jackson             Democratic
32       Ulysses Grant             Republican
60  Theodore Roosevelt             Republican
79      Warren Harding             Republican

##### 18. Use square brackets to filter rows where the `Popular vote` is less than 200000 and display all columns.

In [22]:
df[df['Popular vote'] < 200000]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
6,1832,William Wirt,Anti-Masonic,100715,loss,7.821583
7,1836,Hugh Lawson White,Whig,146109,loss,10.005985
18,1852,John P. Hale,Free Soil,155210,loss,4.930283
38,1884,Benjamin Butler,Anti-Monopoly,134294,loss,1.335838
41,1884,John St. John,Prohibition,147482,loss,1.467021
42,1888,Alson Streeter,Union Labor,146602,loss,1.288861
50,1896,John M. Palmer,National Democratic,134645,loss,0.969566
51,1896,Joshua Levering,Prohibition,131312,loss,0.945565
61,1904,Thomas E. Watson,Populist,114070,loss,0.845563
75,1920,Aaron S. Watkins,Prohibition,188787,loss,0.708351
89,1932,William Z. Foster,Communist,103307,loss,0.261069
92,1936,Norman Thomas,Socialist,187910,loss,0.412876
95,1940,Norman Thomas,Socialist,116599,loss,0.234237
99,1948,Claude A. Watson,Prohibition,103708,loss,0.212747
102,1948,Norman Thomas,Socialist,139569,loss,0.286312
107,1952,Vincent Hallinan,Progressive,140746,loss,0.228516
110,1956,T. Coleman Andrews,States' Rights,107929,loss,0.174883
124,1976,Lester Maddox,American Independent,170274,loss,0.209640
125,1976,Roger MacBride,Libertarian,172557,loss,0.212451
126,1976,Thomas J. Anderson,American,158271,loss,0.194862
141,1992,Bo Gritz,Populist,106152,loss,0.101918
147,1996,Howard Phillips,Taxpayers,184656,loss,0.192045
148,1996,John Hagelin,Natural Law,113670,loss,0.118219
156,2004,David Cobb,Green,119859,loss,0.098088
160,2004,Michael Peroutka,Constitution,143630,loss,0.117542
164,2008,Chuck Baldwin,Constitution,199750,loss,0.152398
165,2008,Cynthia McKinney,Green,161797,loss,0.123442

##### 19. Using `loc`, filter out rows where the candidate's `Result` is 'loss' and display the 'Year' and 'Candidate' columns.

In [23]:
df.loc[df['Result']=='loss',['Year','Candidate']]

     Year          Candidate
0    1824     Andrew Jackson
3    1828  John Quincy Adams
5    1832         Henry Clay
6    1832       William Wirt
7    1836  Hugh Lawson White
..    ...                ...
176  2016    Hillary Clinton
177  2016         Jill Stein
179  2020       Donald Trump
180  2020       Jo Jorgensen
181  2020     Howard Hawkins

[132 rows x 2 columns]

##### 20. Use `iloc` to retrieve rows from index 5 to 10 and show the 'Popular vote' and 'Result' columns.

In [24]:
df.iloc[5:10,[3,4]]

   Popular vote Result
5        484205   loss
6        100715   loss
7        146109   loss
8        763291    win
9        550816   loss